<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>


<body class="container">

<h1 th:text="${title}">Default Title</h1>


<p th:unless="${exercises} and ${exercises.size()}">Please Add an Exercise</p>


<table class="table">

    <tr>
        <th>Date</th>
        <th>Activity</th>
        <th>Duration (Hours)</th>
    </tr>

    <tr th:each="exercise : ${exercises}">
        <td th:text="${exercise.date}"></td>
        <td th:text="${exercise.name}"></td>
        <td th:text="${exercise.duration}"></td>
    </tr>

</table>
<a href="/exercise/add">Add</a> |
<a href="/exercise/remove">Remove</a>


</body>
</html>