<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">
<h1 th:text="${title}">Default Title</h1>


<form method="post" style="max-width:600px;" th:object="${food}">
    <div class="form-group">
        <label th:for="date">Date</label>
        <input class="form-control" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Food</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="servings">Servings</label>
        <input class="form-control" th:field="*{servings}" />
        <span th:errors="*{servings}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="category">Category</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
        <a href="/category/add">Add New Category</a>
    </div>

    <input type="submit" value="Add Food" />
</form>

</body>
</html>