<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>

<body class="container">
<h1 th:text="${title}">Default Title</h1>


<form method="post" style="max-width:600px;" th:object="${wellness}">
    <div class="form-group">
        <label th:for="date">Date</label>
        <input class="form-control" th:field="*{date}" />
        <span th:errors="*{date}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="score">Today's Wellness Score From 1 to 5 (1 = Awful, 5 = Wonderful)</label>
        <select name="cars" th:field="*{score}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
            <option value="5">5</option>
    </select>
    </div>

    <input type="submit" value="Add Score" />
</form>

</body>
</html>