<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${wellness}">
    <div class="form-group">
        <label th:for="score">Today's Wellness Score from 1-5 (5 = Best)</label>
        <select name="cars" th:field="*{score}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
            <option value="5">5</option>
    </select>
<!--        <span th:errors="*{score}" class="error"></span>-->
    </div>

    <input type="submit" value="Add Score" />
</form>

</body>
</html>