<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${wellness} and ${wellness.size()}">How Are You Feeling Today?</p>


<table class="table">

    <tr>
        <th>Today's Wellness Score from 1-5 (5 = Best)</th>
    </tr>

    <tr th:each="wellness : ${wellness}">
        <td th:text="${wellness.score}"></td>
    </tr>

</table>
<a href="/wellness/add">Add</a>


</body>
</html>