<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Foods</title>

    <meta charset="ISO-8859-1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

</head>
<body>

<nav th:fragment="navigation">
    | <a href="/">Home</a> |
    <a href="/food">Food</a> |
    <a href="/exercise">Activity</a> |
    <a href="/sleep">Sleep</a> |
    <a href="/wellness">Wellness Score</a> |


</nav>

</body>
</html>