<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: navigation"></nav>


<body class="container">

<h1 th:text="${title}">Default Title</h1>
<h4> This is an app for people to track how factors such as food, exercise, and sleep impact our
    well-being every day!</h4>


<u><i><h2 th:text="${#calendars.format(#calendars.createNow(), 'MMM dd yyyy')}">Today's Date</h2></i></u>

<h3><a href="/food">My Food</a> <div></div>
<a href="/exercise">My Exercise</a> <div></div>
<a href="/sleep">My Sleep</a> <div></div>
    <a href="/wellness">My Wellness Score</a> </h3><div></div>





</body>
</html>